@model OnlineAccounting.Models.Purchase.Bill

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Bill</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="VendorId" class="control-label"></label>
                <select asp-for="VendorId" class="form-control" asp-items="ViewBag.VendorIds"></select>
                <span asp-validation-for="VendorId" class="text-danger"></span>
            </div>

            <div class="sales-order-item-list">
                
                @for (var i = 0; i < Model.ItemList.Count; i++)
                {
                <div class="row">
                    <input asp-for="ItemList[i].Id" type="hidden" class="form-control" />
                    <div class="form-group col">
                        <label asp-for="ItemList[i].ItemId" class="control-label"></label>
                        <select asp-for="ItemList[i].ItemId" class="form-control" asp-items="ViewBag.ItemIds">
                            <option value="">Select</option>
                        </select>
                        <span asp-validation-for="ItemList[i].ItemId" class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                        <label asp-for="ItemList[i].AccountId" class="control-label"></label>
                        <select asp-for="ItemList[i].AccountId" class="form-control" asp-items="ViewBag.AccountIds">
                            <option value="">Select</option>
                        </select>
                        <span asp-validation-for="ItemList[i].AccountId" class="text-danger"></span>
                    </div>

                    <div class="form-group col">
                        <label asp-for="ItemList[i].Quantity" class="control-label"></label>
                        <input asp-for="ItemList[i].Quantity" class="form-control" />
                        <span asp-validation-for="ItemList[i].Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                        <label asp-for="ItemList[i].Rate" class="control-label"></label>
                        <input asp-for="ItemList[i].Rate" class="form-control" />
                        <span asp-validation-for="ItemList[i].Rate" class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                        <label asp-for="ItemList[i].Tax" class="control-label"></label>
                        <input asp-for="ItemList[i].Tax" class="form-control" />
                        <span asp-validation-for="ItemList[i].Tax" class="text-danger"></span>
                    </div>

                    <div class="form-group col">
                        <label asp-for="ItemList[i].CustomerID" class="control-label"></label>
                        <select asp-for="ItemList[i].CustomerID" class="form-control" asp-items="ViewBag.CustomerIDs">
                            <option value="">Select</option>
                        </select>
                        <span asp-validation-for="ItemList[i].CustomerID" class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                        <label asp-for="ItemList[i].Amount" class="control-label"></label>
                        <input asp-for="ItemList[i].Amount" class="form-control" />
                        <span asp-validation-for="ItemList[i].Amount" class="text-danger"></span>
                    </div>
                </div>
                }

            </div>


            <div class="form-group">
                <label asp-for="SubTotal" class="control-label"></label>
                <input asp-for="SubTotal" class="form-control" />
                <span asp-validation-for="SubTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDS" class="control-label"></label>
                <input asp-for="TDS" class="form-control" />
                <span asp-validation-for="TDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentId" class="control-label"></label>
                <select asp-for="PaymentId" class="form-control" asp-items="ViewBag.PaymentId">
                    <option value="0">None</option>
                </select>
                <span asp-validation-for="PaymentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
